<div class="users-container">
    <h2>Users</h2>
    <input type="text" placeholder="Search by id, userId, username, name" [ngModel]="searchText()"
        (ngModelChange)="searchText.set($event)" class="search-input" />

    <table class="users-table">
        <thead>
            <tr>
                <th style="width: 10%;">UserId</th>
                <th style="width: 20%;">Username</th>
                <th style="width: 20%;">Name</th>
                <th style="width: 10%;">Age</th>
                <th style="width: 10%;">#Roles</th>
                <th style="width: 20%;">#Permissions</th>
                <th style="width: 10%;">Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredUsers()">
                <td>{{ user.userId }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.age || '-' }}</td>
                <td>{{ user.roles }}</td>
                <td>{{ user.permissions }}</td>
                <td>
                    <a (click)="route(user.userId)">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>